.navbar .navbar-brand{
    padding: 5px 15px !important;

}


/*BLOQUE DE IMAGEN --------------------------------------------------------------------*/

.section-story-overview .image-container.image-left {
    z-index: 1;
}

@media screen and (min-width: 768px){
    .image-container.image-left {
        margin-right: -100px;
    }
    .section-story-overview .image-container {
        height: 335px;
        position: relative;
        background-position: center center;
        background-size: cover;
        box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
        border-radius: .25rem;
    }
}

.section-story-overview .image-container.image-right {
    z-index: 2;
}
@media screen and (min-width: 768px){
    .image-container.image-right {
        top: 80px;
        margin-left: -100px;
        margin-bottom: 130px;
    }
    .section-story-overview .image-container {
        height: 335px;
        position: relative;
        background-position: center center;
        background-size: cover;
        box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
        border-radius: .25rem;
    }
    *, ::after, ::before {
        box-sizing: inherit;
    }
    div {
        display: block;
    }}


.section-story-overview .image-container:nth-child(2) {
    margin-top: 420px;
    margin-left: -105px;
}
.section-story-overview .image-container {
    height: 335px;
    position: relative;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
}

*, ::after, ::before {
    box-sizing: inherit;
}
div {
    display: block;
}


.section-story-overview p.blockquote {
    width: 220px;
    min-height: 180px;
    text-align: left;
    position: absolute;
    top: 376px;
    right: 155px;
    z-index: 0;
}
.blockquote.blockquote-primary {
    border-color: #f96332;
    color: #f96332;
}
.blockquote {
    border-left: none;
    border: 1px solid #888;
    padding: 20px;
    font-size: 1.1em;
    line-height: 1.8;
}
.blockquote {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
p {
    line-height: 1.61em;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: inherit;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

@media screen and (max-width: 768px){}
    .image-container.image-left p.blockquote {
        margin: 0 auto;
        position: relative;
        right: 0;
    }
@media screen and (max-width: 768px){
    .landing-page .section-story-overview .image-container:nth-child(2) {
        margin-left: 0;
        margin-bottom: 30px;
    }}

.section-story-overview {
    padding: 50px 0;
}




@media screen and (max-width: 768px){
    .image-container.image-left p.blockquote {
        margin: 0 auto;
        position: relative;
        right: 0;
    }}

.section-story-overview {
    padding: 50px 0;
}


.section-story-overview .image-container.image-left {
    z-index: 1;
}

.section-story-overview p.blockquote {
    width: 220px;
    min-height: 180px;
    text-align: left;
    position: absolute;
    top: 376px;
    right: 155px;
    z-index: 0;
}


@media screen and (min-width: 768px) {
    .image-container.image-right {
        top: 80px;
        margin-left: -100px;
        margin-bottom: 130px;
    }
    .image-container.image-left {
        margin-right: -100px;
    }
}


.section-story-overview .image-container.image-right {
    z-index: 2;
}
.section-story-overview .image-container.image-right+h3.title {
    margin-top: 120px;
}

@media screen and (max-width: 768px) {
    .image-container.image-left {
        margin-bottom: 220px;
    }
    .image-container.image-left p.blockquote {
        margin: 0 auto;
        position: relative;
        right: 0;
    }
    .nav-tabs {
        display: inline-block;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }
    .nav-tabs .nav-item>.nav-link {
        margin-bottom: 5px;
    }
    .landing-page .section-story-overview .image-container:nth-child(2) {
        margin-left: 0;
        margin-bottom: 30px;
    }
}

/*FIN BLOQUEE---------------------------------------------------------------*/

.example-page .img-rounded {
    margin: 1px 0 0px !important;
}

@media (min-width: 1200px){
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
        padding-right: 12px !important;
        padding-left: 1px !important;
    }}



/*botones*/

.btn-danger {
    background-color: #f96332  !important;
    border-color: black !important;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
}


a{
    line-height: 28px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.color-pagina{

    color: #002839 ;
    opacity: 1;
    filter: alpha(opacity=100);
}

.nav-link:hover{
    color:  black !important;
}

.card-avatar:hover{
    background:  white !important;

}

#inferior{
    color: #FFF;
    background: #000;
    position:absolute; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:50px; /*alto del div*/
    z-index:0;
}


@media screen and (max-width: 991px){
    .navbar-collapse::after {

        background-image: url("../img/logo/logomanu.png");

        margin-top: 400px;
        background-size: 200px 200px;
        background-repeat: no-repeat;
margin-left: 15px;
        /*background: #20A29B ;*/
        /*background: -webkit-linear-gradient( #002839, #000 80%);*/
        /*background: -o-linear-gradient( #002839 0%, #000 80%);*/
        /*background: -moz-linear-gradient( #002839 0%, #000 80%);*/
        /*background: linear-gradient( #20A29B 0%, #002839 100%);*/
        /*opacity: 0.76;*/
        /*filter: alpha(opacity=76);*/
        /*display: block;*/
        /*content: "";*/
        /*position: absolute;*/
        width: 100%;
        height: 100%;
        /*top: 0;*/
        /*left: 0;*/
        /*z-index: -1;*/
        /*color: black !important;*/
        background: white;
    }
a{
    color: black;
}}

@media screen and (max-width: 991px){
    .fixed-top .navbar-collapse {
        background-color: white;
        float: left;
    }}
/*boton flotante ------------------------------------------------------------------*/

.fafont
{font-size: 25px;}

.fa{
    font-size: 20px !important;
}




.main .btn-group-sm .btn-fab{
    position: relative !important;
    right: 29px;
    z-index: 100 !important;
}
.btn-group .btn-fab{
    position: fixed !important;
    right: 20px;
    z-index: 100 !important;
}

#main{
    position: fixed !important;

    border-radius: 40px;

    bottom: 30px;
    font-size: 23px;
    height: 60px;
    width: 60px

}
.footer{
    z-index: 100 !important;

}

#autre{
    bottom: 170px
}
.font-habilidades{
    font-weight: 800;
    
}

h3 a {
    color: #58595a !important;
}
.caption {
    color: #58595a !important;
} 